#spinner {
  margin-top: 15px;
}
#label{
  color: red;
}

#cabecera {
  text-align: center;
  margin-top: 17px;
  color: white;
}
#botonAgregar {
  margin-top: 20px;
}
#blanco{
  margin-top: 6%;
  text-align: center;
  margin-right: 30px;
  color: white;
  align-items: center;
  color: white;
}
#marginTop{
  margin-top: 10px !important;
}